/* ============ GLOBALS ============ */
:root {
    --card-width: 100px;
    --border: 4px;
    font-family: monospace;
}

/* ============ GENERIC ============ */
div.flex { display: flex; flex-direction: row; gap: 1rem; }
span.float-l { float: left; }
span.float-r { float: right; }
table {
    border-collapse: collapse;
    border: 1px solid silver;
}
table th,
table td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid silver;
}

.card { width: var(--card-width); }
.card > img {
    --w: calc(var(--card-width) - 2 * var(--border));
    width: var(--w);
    height: calc(1.5 * var(--w));

    object-fit: cover;
    border: var(--border) solid silver;
}
.card > p { margin-block: 0; }
.card > p span.userId { font-weight: bold; }
