/* ============ LAYOUT ============ */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 1rem 5px; /* row gap, column gap */
}

header {
    max-width: 140ch;
    margin-inline: auto;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: auto 2fr 1fr;
    gap: 1rem;

    grid-template-areas:
        "title title title"
        "img status review"
        "img controls controls";
}
header > h1 { grid-area: title; }
header > #current-memory { grid-area: img; }
header > #status { grid-area: status; }
header > #review { grid-area: review; }
header > #controls { grid-area: controls; }

/* ============ MEMORIES ============ */
.card > p span.type { font-weight: bold; color: silver; }

#current-memory > img {
    width: 300px;
    height: 450px;
    object-fit: cover;

    border: var(--border) solid white;
}

#status table th { min-width: 12ch; }
#status table td { min-width: 24ch; }

/* overrides for img#current-memory */
img.good { border-color: green !important; }
img.bad { border-color: red !important; }
img.task { border-color: blue !important; }
img.fail { border-color: orange !important; }
img.pending { border-color: silver !important; }
